footer.footer 
    .footer__logo
        img(src='/img/plug-socket.png' alt='Rui logo')  
    ul.footer__nav 
        li: a(href='#') About us
        li: a(href='#') Contact us
    p.footer__copyright &copy; by Joseph Muiruri